services:

  odoo:
    image: odoo:18
    depends_on:
        - db

    # Port Mapping
    # --------
    #
    # Here we are mapping a port on the host machine (on the left)
    # to a port inside of the container (on the right.) The default
    # port on Odoo is 8069, so Odoo is running on that port inside
    # of the container. But we are going to access it locally on
    # our machine from localhost:9000.
    ports:
      - 8088:8069

    # Data Volumes
    # --------

    # This defines files that we are mapping from the host machine
    # into the container.

    volumes:
      -  odoo-web-data:/var/lib/odoo
      - ./odoo.conf:/etc/odoo/odoo.conf
      - ./addons:/mnt/extra-addons
      - ./custom:/mnt/custom-addons
      - ./logs:/var/log/odoo

    # Odoo Environment Variables

    environment:
      - HOST=db
      - USER=admin
      - PASSWORD=odoo

  # Database Container Service Definition
  # --------

  db:
    image: postgres:14

    ports:
        - 5430:5432

    # Database Environment Variables
    # --------
    # Make sure that they are the same as the database user
    # defined in the web container environment variables.
    environment:
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=admin
      - POSTGRES_DB=postgres  # Leave this set to postgres
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
volumes:
    odoo-db-data:
    odoo-web-data: