services:

  odoo:
    image: odoo:18
    container_name: odoo18-odoo-1
    depends_on:
      - db

    # Port mapping: access Odoo locally at localhost:8088
    ports:
      - "8088:8069"

    # Data volumes
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./odoo.conf:/etc/odoo/odoo.conf
      - ./addons:/mnt/extra-addons
      - ./custom:/mnt/custom-addons
      - ./logs:/var/log/odoo

    # Odoo environment variables
    environment:
      HOST: db
      USER: admin
      PASSWORD: odoo
      DB_PORT: 5432
      ADMIN_PASSWD: odoo

  db:
    image: postgres:14
    container_name: odoo18-db-1

    # Port mapping: access PostgreSQL locally at localhost:5430
    ports:
      - "5430:5432"

    # Database environment variables
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: odoo
      POSTGRES_DB: postgres

    # Data volumes
    volumes:
      - odoo-db-data:/var/lib/postgresql/data

# Docker volumes
volumes:
  odoo-db-data:
  odoo-web-data:
